<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n
      </Pattern>
    </encoder>
  </appender>

  <logger name="org.camunda" additivity="false">
    <level value="ERROR" />
    <appender-ref ref="consoleAppender" />
  </logger>

  <root>
    <level value="INFO" />
    <appender-ref ref="consoleAppender" />
  </root>
</configuration>
